<h1> Adding new customer </h1>

<form action="/customers" method="post">

    <label for="name">Name:</label>
    <input class="input" type="text" name="name" required="true" value="name" id="name">

    <input type="submit" value="save and add new booking" class="button">

</form>

<a href="/customers" class="button">Cancel</a>