<div class="header">
    <h1> Add New Customer </h1>
</div>

<form action="/customers" method="post">

    <label for="name">Name:</label>
    <input class="input" type="text" name="name" required="true" value="" id="name">

    <input type="submit" value="save and add new booking" class="button">

</form>

<a href="/customers?page=1" class="button">Cancel</a>
