<h1> EDIT CUSTOMER </h1>

<form action="/customers/$customer.getId()" method="post">

    <label for="name">Name:</label>
    <input class="input" type="text" name="name" required="true" value="$customer.getName()" id="name">

    <input type="submit" value="Save" class="button">

</form>

<a href="/customers" class="button">Cancel</a>
