<h1> ALL CUSTOMERS </h1>

<table>
    <tr>
        <th>Name</th>
    </tr>
    #foreach ($customer in $customers)
    <tr>
        <td>$customer.getName()</td>
        <td><a href="customers/$customer.getId()/edit">Edit</a></td>
        <td><form action = "/customers/$customer.getId()/delete" method = "post">
            <input type="submit" value="Delete" class="button">
        </form></td>
    </tr>
    #end

</table>
