<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <!--<property name="hibernate.connection.username"></property>-->
        <!--<property name="hibernate.connection.password"></property>-->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/restaurantdb</property>
        <property name="connection_pool_size">1</property>
        <!-- won't drop tables everytime hibernate restarts ?? -->
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>

        <mapping class="models.Booking"/>
        <mapping class="models.Customer"/>
        <mapping class="models.RestaurantTable"/>
        <mapping class="models.MenuItem"/>
    </session-factory>
</hibernate-configuration>
