<h1>Add Table to Restaurant</h1>

<form action="/tables" method="post">

    <label for="name">Name:</label>
    <input class="input" type="text" name="name" required="true" value="" id="name">

    <label for="seats">Seats:</label>
    <input class="input" type="number" min="1" max="10" name="seats" required="true" value="" id="seats">

    <input type="submit" value="save and add new Table" class="button">

</form>

<a href="/tables" class="button">Cancel</a>
