<h1>Welcome to CodeClan Canteen Booking System</h1>

<a href="/customers?page=1">All Customers</a>
<a href="/bookings">All Bookings</a>
<a href="/tables">All Tables</a>
<a href="/customers/new">Add new Customer</a>
<a href="/bookings/new">Add new Booking</a>
<a href="/tables/new">Add new Table</a>