<h1>Welcome to CodeClan Canteen Booking System</h1>

<a href="/customers">All Customers</a>
<a href="/bookings">All Bookings</a>
<a href="/customers/new" class="button">Add new Customer</a>
<a href="/bookings/new">Add new Bookings</a>