<div class="header">
    <h1>CodeClan Canteen</h1>
</div>
<section class="home">
    <a href="/customers?page=1" class="button">All Customers</a>
    <a href="/bookings?page=1" class="button">All Bookings</a>
    <a href="/tables" class="button">All Tables</a>
    <a href="/customers/new" class="button">New Customer</a>
    <a href="/bookings/new" class="button">New Booking</a>
    <a href="/tables/new" class="button">New Table</a>
</section>