<!DOCTYPE html>
<html>
<head>
    <title>Restaurant Booking System</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <div class="container">
        <nav><a href="/home">Home</a></nav>
        #parse( $template )
    </div>
</body>
</html>